<!-- The footer -->
        <div id="footer_bar">
          <div style="float:left;width:92%;"> 
            <h3 style="margin:0px"><a href="/imprint">Impressum</a></h3>
          </div>
          <div style="float:left;">
            <h3 style="margin:0px">v <%- include version.ejs %></h3>
           </div>
        </div>