<!DOCTYPE html>
<html>
  <head>
    <title>Userverwaltung</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <script> 
      // Function to check Whether both passwords match 
      function checkPassword(form) { 
          if (form.password1.value != form.password2.value) { 
            alert ("\nPasswörter stimmen nicht überein"); 
            return false; 
          } 
          return true;
      } 
  </script> 
  </head>
  <body>
      <div  id="container">
        <%- include partials/main-mnu.ejs %>
        <h1>Passwort ändern</h1>
        <h3><%=userid%></h3>
        <form id="formUserMgmt" name="usermgmt" method="post" onSubmit = "return checkPassword(this)" action="/admin/password">
            <div style="float:left;margin-right:20px;">
                <label for="inputPassword_1">Passwort</label>
                <input id="inputPassword_1" class="input" type="password" placeholder="Passwort" name="password1" required/>
            </div>
            <div style="float:left;">
              <label for="inputPassword_2">Passwort (Wiederholung)</label>
              <input id="inputPassword_2" class="input" type="password" placeholder="Passwort" name="password2" required/>
            </div>  
            <br style="clear:both">
            <button id="btnSubmit" name="submitted" class="blue-button" value="save">Ändern</button>
        </form>
        <%- include partials/footer.ejs %>
      </div>
  </body>
</html>